.heroe_pmbok6{
    background-image: url(../../img/heroe/heroePmbok6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

